### Задание 1.  
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977

In [7]:
mt = 'The Moscow Times - Wednesday, October 2, 2002'    # The Moscow Times
tg = 'The Guardian - Friday, 11.10.13'    # The Guardian
dn = 'Daily News - Thursday, 18 August 1977'    # Daily News


from datetime import datetime


# The Moscow Times

mt_l = mt.split('-')
date_mt = datetime.strptime((mt_l)[1], ' %A, %B %d, %Y')
print(date_mt)

# The Guardian

tg_l = tg.split('-')
date_tg = datetime.strptime((tg_l)[1], ' %A, %d.%m.%y')
print(date_tg)

# Daily News

dn_l = dn.split('-')
date_dn = datetime.strptime((dn_l)[1], ' %A, %d %B %Y')
print(date_dn)

2002-10-02 00:00:00
2013-10-11 00:00:00
1977-08-18 00:00:00

### Задание 2.  
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [6]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

from datetime import datetime

def date_check(dates):
    check_list = []
    for i in dates:
        try:
            datetime.strptime(i, '%Y-%m-%d') 
            #print('True')
            check_list.append(True)
        except:
            #print('False')
            check_list.append(False)
    
    return check_list
    

    
date_check(stream)

[True, False, False]

### Задание 3.  
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [5]:
start_date = '2004-01-16'
end_date = '2004-06-18'


from datetime import timedelta

def period(start, end):
    
    list_period=[]
    
    try:
        current_date = datetime.strptime(start,'%Y-%m-%d')

        while current_date <= datetime.strptime(end,'%Y-%m-%d'):
            list_period.append(current_date.strftime('%Y-%m-%d'))

            current_date += timedelta(days=1)
    except:
        
        pass
        
    return list_period


period(start_date, end_date)

['2004-01-16',
 '2004-01-17',
 '2004-01-18',
 '2004-01-19',
 '2004-01-20',
 '2004-01-21',
 '2004-01-22',
 '2004-01-23',
 '2004-01-24',
 '2004-01-25',
 '2004-01-26',
 '2004-01-27',
 '2004-01-28',
 '2004-01-29',
 '2004-01-30',
 '2004-01-31',
 '2004-02-01',
 '2004-02-02',
 '2004-02-03',
 '2004-02-04',
 '2004-02-05',
 '2004-02-06',
 '2004-02-07',
 '2004-02-08',
 '2004-02-09',
 '2004-02-10',
 '2004-02-11',
 '2004-02-12',
 '2004-02-13',
 '2004-02-14',
 '2004-02-15',
 '2004-02-16',
 '2004-02-17',
 '2004-02-18',
 '2004-02-19',
 '2004-02-20',
 '2004-02-21',
 '2004-02-22',
 '2004-02-23',
 '2004-02-24',
 '2004-02-25',
 '2004-02-26',
 '2004-02-27',
 '2004-02-28',
 '2004-02-29',
 '2004-03-01',
 '2004-03-02',
 '2004-03-03',
 '2004-03-04',
 '2004-03-05',
 '2004-03-06',
 '2004-03-07',
 '2004-03-08',
 '2004-03-09',
 '2004-03-10',
 '2004-03-11',
 '2004-03-12',
 '2004-03-13',
 '2004-03-14',
 '2004-03-15',
 '2004-03-16',
 '2004-03-17',
 '2004-03-18',
 '2004-03-19',
 '2004-03-20',
 '2004-03-21',
 '2004-03-22',
 '2004-03-23',
 '2004-03-24',
 '2004-03-25',
 '2004-03-26',
 '2004-03-27',
 '2004-03-28',
 '2004-03-29',
 '2004-03-30',
 '2004-03-31',
 '2004-04-01',
 '2004-04-02',
 '2004-04-03',
 '2004-04-04',
 '2004-04-05',
 '2004-04-06',
 '2004-04-07',
 '2004-04-08',
 '2004-04-09',
 '2004-04-10',
 '2004-04-11',
 '2004-04-12',
 '2004-04-13',
 '2004-04-14',
 '2004-04-15',
 '2004-04-16',
 '2004-04-17',
 '2004-04-18',
 '2004-04-19',
 '2004-04-20',
 '2004-04-21',
 '2004-04-22',
 '2004-04-23',
 '2004-04-24',
 '2004-04-25',
 '2004-04-26',
 '2004-04-27',
 '2004-04-28',
 '2004-04-29',
 '2004-04-30',
 '2004-05-01',
 '2004-05-02',
 '2004-05-03',
 '2004-05-04',
 '2004-05-05',
 '2004-05-06',
 '2004-05-07',
 '2004-05-08',
 '2004-05-09',
 '2004-05-10',
 '2004-05-11',
 '2004-05-12',
 '2004-05-13',
 '2004-05-14',
 '2004-05-15',
 '2004-05-16',
 '2004-05-17',
 '2004-05-18',
 '2004-05-19',
 '2004-05-20',
 '2004-05-21',
 '2004-05-22',
 '2004-05-23',
 '2004-05-24',
 '2004-05-25',
 '2004-05-26',
 '2004-05-27',
 '2004-05-28',
 '2004-05-29',
 '2004-05-30',
 '2004-05-31',
 '2004-06-01',
 '2004-06-02',
 '2004-06-03',
 '2004-06-04',
 '2004-06-05',
 '2004-06-06',
 '2004-06-07',
 '2004-06-08',
 '2004-06-09',
 '2004-06-10',
 '2004-06-11',
 '2004-06-12',
 '2004-06-13',
 '2004-06-14',
 '2004-06-15',
 '2004-06-16',
 '2004-06-17',
 '2004-06-18']